@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$blue: #570df8;
$blue-lighter: #570df8;
$ghost-white: #f2f2f8ff;

$family-sans-serif: "Lato", "Avenir", sans-serif;
$primary: $blue;
$link: $blue;
$link-hover: $blue-lighter;
$link-focus: $blue-lighter;
$link-active: $blue-lighter;

$warning-dark: #ffc014;
$navbar-height: 3.25rem;
$max-page-width: 1720px;

$pricing-item-color: #333;